
php_value display_errors 0
php_value log_errors 1
php_value error_log /var/www/Site/error.log

<IfModule mod_rewrite.c>
    RewriteEngine On
    ErrorDocument 404 /dispatch.php?site=404
    
	RewriteRule ^\.htaccess$ - [F]
	RewriteRule ^\/html\/(.+) - [F]
	RewriteRule ^\/requests\/(.+) - [F]
	RewriteRule ^(.+)\.html$ /dispatch.php?site=$1
</IfModule>