<!DOCTYPE HTML >
<html>
<head lang="de">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if modile %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script language="JavaScript" src="/static/js/jquery/jquery.min.js"></script>
    <script language="JavaScript" src="/static/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    {% else %}
    <script language="JavaScript" src="/static/js/jquery/jquery.js"></script>
    <script language="JavaScript" src="/static/js/bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-social.css">
    <link rel="stylesheet" href="static/css/font-awesome.css">
    {% endif %}
	{% block head %}{% endblock %}
    <style type="text/css">
        body { background: white;background-image: url("/static/images/background.png");background-size:cover;}
        .navbar-brand{
            padding: 0 15px;
        }
    </style>
</head>
<body>
<div class="pageheader">
    <p></p>
</div>
<div class="container-fluid">
    {% block bodyhead %}
    {% endblock %}
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                {% block body %}
                {% endblock %}
                <br>

                    <nav class="nav navbar navbar-default">
                        <p class="navbar-text pull-left">© 2014 - Site Built By Mr. M.
                        <a href="/Impressum" target="_blank" >Impressum</a>
                    </p>
                        <!--a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
                            <span class="glyphicon glyphicon-star"></span>YouTube Kannal</a -->
                        <a href="https://www.facebook.com/HAO-Reilingen-126648524185021" class="navbar-btn btn-social-icon btn-facebook pull-right">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </nav>
            </div>
        <div class="col-md-1"></div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
    </div>

</footer>
</body>
</html>
