{% extends "layout.html" %}
{% block head %}
<!--script src="/static/js/jquery/jquery.js"></script -->
<script src="/static/js/blueimp/blueimp-gallery.js"></script>
<!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script -->
<script src="/static/js/blueimp/jquery.blueimp-gallery.js"></script>
<link rel="stylesheet" href="static/css/blueimp/blueimp-gallery.min.css">
{% endblock %}
{% block body %}
{% include "util/nav_bar.html" %}
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-9">
        <div class="well">
            {% if folders %}
            {% for galleryname in folders.iterkeys() %}
            {% if loop.index0 % 3 == 0 %}
            <div class="row" style="margin:10px">{# use inline override for displaying #}{# make new row if one is full #}
            {% endif %}
                <div class="col-md-4">
                    <!-- {{ loop.index0 }} -->
                    <a href="/fotopage?album={{galleryname}}"><img src="/static/images/gallery/{{galleryname}}/{{ folders[galleryname][loop.index0] }}" class="img-responsive"></a>
                    <h4>{{galleryname}}</h4>

                </div>
            {% if loop.index0  % 3 == 2 %}{# insert rowend statement if 3 elements are in one row #}
            </div>
            {% elif loop.last %} {# in the last looprun insert row end statement if the row is not full #}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if images %}
        <h2>{{foldername}}</h2>
            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        <div id="links">
        {% for img in images %}
            {% if loop.index0 % 4 == 0 %}
            <div class="row" style="margin:10px">{# use inline override for displaying #}{# make new row if one is full #}
            {% endif %}
                <div class="col-md-3 img-item">
                    <a href="/static/images/gallery/{{foldername}}/{{img}}" data-gallery>
                         <img src="/static/images/gallery/{{foldername}}/{{img}}" class="img-responsive">
                    </a>
                </div>

            {% if loop.index0  % 4 == 3 %}{# insert rowend statement if 3 elements are in one row #}
            </div>
            {% elif loop.last %} {# in the last looprun insert row end statement if the row is not full #}
            </div>
            {% endif %}

            {% endfor %}
        </div>
            {% endif %}
        </div>

    </div>
    <div class="col-md-2"></div>
</div>
{% if images %}
<script language="JavaScript">
   var elements = document.getElementsByClassName('img-item');
   console.log(elements);
   /*for( int i = 0; i< elements.length; i++){
        ;
   }*/

};


</script>
{% endif %}
{% endblock %}