{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/index.css"><!--custom css file for the index page -->
<link rel="stylesheet" href="/static/css/datepicker/bootstrap-datepicker3.css">
{% endblock %}

{% block body %}
{% include "util/nav_bar.html" %} {# include nav bar #}
<!-- br  -->
{% include "util/carousel.html" %} {# include image carousel #}
    <br>
    <div class="row">

        <div class="col-md-4">
            <div class="article">
                <h5 style="margin:0px;"><span>Termine</span></h5>
                <div class="separator"></div>
                <p>
                {% for item in terms %}
                    {{item.get("t_date").strftime("%d.%m.%Y")}}
                    {% if item.get("t_link_url") %}
                    <a href="{{item.get("t_link_url")}}">{{item.get("t_name")}}</a>
                    {% else %}
                    {{item.get("t_name")}}
                    {% endif %}
                {% endfor %}
                </p>
            </div>


        </div>
        <div class="col-md-4">

            <!--div class="article">
                <h5 style="margin:0px;"><span>Termine</span></h5>
                <div class="separator"></div>
                <p>Some Example Text </p>
            </div -->
            <div class="article">
                <h5 style="margin:0px;"><span>Frühlings-Konzert</span></h5>
                <div class="separator"></div>
                <p>Unser Frühlings-Konzert 2017 in der voll besetzten Fritz Mannherz Halle in Reilingen,
                    war ein voller Erfolg. <a href="/fruejahrskonzert2017">[mehr]</a>
                <!--div id="calendar"> fruejahrskonzert2017</div -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="article">
                <h5 style="margin:0px;"><span>Bundeswertungsspielen Düsseldorf</span></h5>
                <div class="separator"></div>
                <p>Das Jugendorchester räumt in Düsseldorf ab !!!! <a href="/jugend">[mehr]</a> </p>
            </div>
        </div>
    </div>
<br>
<script src="/static/js/bootstrap/bootstrap-datepicker.js"></script>
<script language="JavaScript">
$(document).ready(function(){
    $('.datepicker').datepicker();
    $('#calendar').datepicker({
        language: "de",
        todayHighlight: true,
        beforeShowDay: function (date){
        if (date.getMonth() == (new Date()).getMonth())
            switch (date.getDate()){
            case 4:
            return {
                tooltip: 'Example tooltip',
                classes: 'active'
            };
            case 8:
                return false;
            case 12:
                return "green";
            }
        },
        beforeShowMonth: function (date){
        if (date.getMonth() == 8) {
            return false;
        }
    }
});
});
</script>
{% endblock %}
