{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/index.css"><!--custom css file for the index page -->
{% endblock %}

{% block body %}
{% include "util/carousel.html" %} {# include image carousel #}
<br>
{% include "util/nav_bar.html" %} {# include nav bar #}
    <br>
    <div class="row">

        <div class="col-md-4">



        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">


        </div>
    </div>
<br>
<script language="JavaScript">
</script>
{% endblock %}
