{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
{% include "util/nav_bar.html" %} {# include nav bar #}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="well">
            <h2>Jugendorchester</h2>
        <div>
            <p>Hier sammeln unsere Jüngsten ab 10 Jahren nicht nur erste Erfahrungen im Orchesterspiel, sondern erleben die Freude an der Musik und am gemeinsamen Musizieren mit Freunden. Auch der Übergang ins 1. Orchester wird den Spielern durch den frühen Einstieg erleichtert.</p>
            <p>Aktuell arbeitet das Orchester an seinem Programm für das Frühjahrskonzert am <b>14. Mai 2017</b>. Im Programm befindet sich unter anderem die "New York Ouvertüre" von Kees Vlak und ein Werk gemeinsam mit unserer Akkorden AG.</p>
            <p>Im Mai nimmt das Orchester mit dem Jugendensemble unserer Freunde "Akkordeon im Quadrat" an den Deutschen Meisterschaften für Jugendorchester Teil. Wir wünschen viel Erfolg!!</p>
            <p>Probe ist jeden Mittwoch von 18:30 Uhr bis 20 Uhr in unserem Proberaum im Franz-Riegler-Haus Reilingen.</p>

        </div>


        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}