<!DOCTYPE HTML >
<html>
<head lang="de">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if modile %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endif %}
    <script language="JavaScript" src="/static/js/jquery/jquery.js"></script>
    <script language="JavaScript" src="/static/js/bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.css">
	{% block head %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
